<%= form_tag sessions_path do %>
<table class="gradientBoxesWithOuterShadows" cellspacing=3 cellpadding=3 width=400 align=center><tr><td class="form_field">
	<%= label_tag :username %></td>
    </td><td align=right><%= text_field_tag :username, params[:username] %>
</td></tr><tr><td class="form_field">
    <%= label_tag :password %>
    </td><td align=right>
<%= password_field_tag :password %>
    </td></tr><tr><td colspan=2 align=center><%= submit_tag "Log in" %></td>
  </tr></table>
<% end %>
